doctype html
html

    head

        title=title
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='charset' content='UTF-8')
        meta(name='http-equiv' content='X-UA-Compatible')

        // CSS Styles
        link(rel='stylesheet', href='/assets/css/app.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

        // JavaScripts
        script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.min.js")

        script(src='/assets/js/vendor.js')
        script(src='/assets/js/app.js')

    body

        block content