
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
  background-color: #5D5C61 !important;
  color: #ffffff !important;
}

#field {
  display: flex;
  justify-content: center;
  align-items: center;
}